{
    "flowForTeam": {
        "First Team Name": "Flow API Token",
        "Another Team Name": "Flow API Token"
    },
    "defaultFlow": "Flow API Token. This ‘defaultFlow’ field is optional",

    "teamInbox": {
        "source": "SForce",
        "from_address": "noreply@example.com",
        "from_name": "SalesForce",
        "tags": ["SalesForce"]
    }
}
